{% extends "roundborder.html" %}
{% block contentTitle %}
    {{  _('About Campus Carpool')}}
{% endblock contentTitle %}
{% block contentContent %}
    <img src="{{ url_for('static', filename="images/logo.png") }}" class="float-left mr-2" width="8%"
                 alt="logo">
    <p class="text-center" style="margin-left: 10%">
    {{ _('
    <b>
    Campus Carpool is an application that makes it possible to carpool from and to a university. We purposefully limit
    our target audience to professors, student, assistants and employees of uiversities.
    </b>
    <br>
    On one hand, this increases the change to match rides (as either the start or finish will be a university), and on
    the other hand, because students are well aware that transport isn\'t free
    <br>
    Public transport is not always a quick way to get to campus. Carpooling can sometimes be a solution for a poor
    connection. Other times, it could be the answer to public transport strikes.
    <br>
    By having multiple people share a car, fuel costs are reduced, making carpooling financially attractive. We hope
    that our app helps you find a travel buddy to your campus.
    ')}}
</p>
    <p class="text-center" style="margin-left: 10%">
        {{ _('
    We have done our utmost to put all college- and university campusses in Belgium on the map. To achieve this, we
    mainly used <a href="https://www.google.be/maps" style="color: #333333"><b> Google Maps</b></a>, but also the Belgian
    sites <a href="https://www.onderwijskiezer.be/v2/hoger/hoger_vestigingen.php" style="color: #333333"><b> Onderwijskiezer</b></a>
    and <a href="https://www.goudengids.be/" style="color: #333333"><b> Gouden Gids</b></a>.
    Did we still forget your campus? <a href="/en/contact">Contact us!</a>
    ') }}
    </p>

{% endblock contentContent %}
