{% extends "reviews.html" %}
{% block contentTitle %}
    {{_('My account')}}
{% endblock contentTitle %}
{% block profileContent %}
    <img src="{{ url_for('static', filename="images/temp_profile_pic.png") }}" class="float-left mr-2" width="127px"
         alt="profile pic" style="border-radius: 50%"><br>
    <a class="btn btn-info" href="{{ url_for('users.account_edit') }}" role="button">{{ _('Edit account') }}</a>
    {#        <a class="btn btn-info" href="{{ url_for('rides.exampleuser_reviews') }}" role="button">My reviews</a>#}
        <a class="btn btn-info" href="{{ url_for('rides.ride_history') }}" role="button">{{ _('My rides') }}</a>
    <div>
        <br>
    <b>{{ _('First name') }}</b>
        <br>
    Robbe
    </div>
    <br>
    <div>
    <b> {{  _('Last name') }}</b>
        <br>
    Lauwers
    </div>
    <br>
        <div>
    <b>{{ _('Gender')}}</b>
        <br>
    M
    </div>
    <br>
        <div>
    <b>{{_('email')}}</b>
        <br>
    robbe.lauwers@student.uantwerpen.be
    </div>
        <br>
        <div>
    <b>{{ _('Date of birth') }}</b>
        <br>
    01/01/2000
    </div>
        <br>
    <div>
    <b>{{ _('Phone number') }}</b>
        <br>
    + 32 123 12 12 12
    </div>
        <br>

    <div class="border-top pt-3"></div>

        <div>
    <b>{{ _('street + number') }}</b>
        <br>
    J. Doestreet 42
    </div>
        <br>
            <div>
    <b>{{ _('Zip code') }}</b>
        <br>
    1234
    </div>
        <br>
            <div>
    <b>{{_('City')}}</b>
        <br>
    Rumst
    </div>
        <br>

        <div class="border-top pt-3"></div>

                <div>
    <b>{{_('Brand')}}</b>
        <br>
    Toyota
    </div>
        <br>
                <div>
    <b>{{_('Type')}}</b>
        <br>
    Yaris
    </div>
        <br>
                <div>
    <b>{{ _('Color') }}</b>
        <br>
    Red
    </div>
        <br>
                <div>
    <b>{{ _('License plate') }}</b>
        <br>
    1-CAR-123
    </div>
        <br>
                <div>
    <b>{{ _('nr. seats') }}</b>
        <br>
    4
    </div>
        <br>
                <div>
    <b>{{ _('Year') }}</b>
        <br>
    2015
    </div>
        <br>
                <div>
    <b>{{ _('Fuel usage') }}</b>
        <br>
    7,8l/100km
    </div>
        <br>            <div>
    <b>{{ _('Fuel type') }}</b>
        <br>
    Gasoline
    </div>
        <br>

        <a class="btn btn-info" href="{{ url_for('users.add_vehicle') }}" role="button">{{ _('Add car') }}</a>
<br>

{% endblock profileContent %}