<!-- https://stackoverflow.com/questions/51756351/how-to-get-user-selected-value-from-selectfield-in-python-flask-wtf  -->
<!-- https://www.youtube.com/watch?v=I2dJuNwlIH0  -->
{% extends "roundborder.html" %}
{% block contentTitle %}
    {{ _('Edit my account') }}
{% endblock contentTitle %}
{% block contentContent %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <!-- display the form -->
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.first_name.label(class="form-control-label") }}
                {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.last_name.label(class="form-control-label") }}
                {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ _('Gender') }}:
                {{ form.gender}}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.age.label(class="form-control-label") }}
                {% if form.age.errors %}
                    {{ form.age(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.age.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.age(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.phone_number.label(class="form-control-label") }}
                {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone_number(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <a class="btn btn-info" href="{{ url_for('users.address_edit') }}" role="button">{{ _('Edit address') }}</a>


        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <div class="form-group">
            {{ form.delete(class="btn btn-outline-info") }}
        </div>
      </form>







{% endblock contentContent %}
