{% extends "reviews.html" %}
{% block contentTitle %}
    {{ _('My account') }}
{% endblock contentTitle %}
{% block profileContent %}
    <img src="{{ url_for('static', filename=pfp_path) }}" class="float-left mr-2" width="127px"
         alt="profile pic" style="border-radius: 50%"><br>
    <a class="btn btn-info" href="{{ url_for('users.account_edit') }}" role="button">{{ _('Edit account') }}</a>
    <a class="btn btn-info" href="{{ url_for('users.address_edit') }}" role="button">{{ _('Edit address') }}</a>
    {#        <a class="btn btn-info" href="{{ url_for('rides.exampleuser_reviews') }}" role="button">My reviews</a>#}
    <a class="btn btn-info" href="{{ url_for('rides.ride_history') }}" role="button">{{ _('My rides') }}</a>
    <div>
        <br>
        <b>{{ _('First name') }}</b>
        <br>
        {{ current_user.first_name }}
    </div>
    <br>
    <div>
        <b> {{ _('Last name') }}</b>
        <br>
        {{ current_user.last_name }}
    </div>
    <br>
    <div>
        <b>{{ _('Gender') }}</b>
        <br>
        {% if current_user.gender == None %}
            /
        {% else %}
            {{ current_user.gender }}
        {% endif %}
    </div>
    <br>
    <div>
        <b>{{ _('email') }}</b>
        <br>
        {{ current_user.email }}
    </div>
    <br>
    <div>
        <b>{{ _('Age') }}</b>
        <br>
        {% if current_user.age == None %}
            /
        {% else %}
            {{ current_user.age }}
        {% endif %}
    </div>
    <br>
    <div>
        <b>{{ _('Phone number') }}</b>
        <br>
        {% if current_user.phone_number == None %}
            /
        {% else %}
            {{ current_user.phone_number }}
        {% endif %}
    </div>
    <br>


    {% if address != None %}
        <div class="border-top pt-3"></div>

        <div>
            <b>{{ _('Address') }}</b>
            <br>
            {{ address.street }} {{ address.nr }}
        </div>
        <br>
        <div>
            <b>{{ _('Zip code') }}</b>
            <br>
            {{ address.postal_code }}
        </div>
        <br>
        <div>
            <b>{{ _('City') }}</b>
            <br>
            {{ address.city }}
        </div>
        <br>
        <div>
            <b>{{ _('Country') }}</b>
            <br>
            {{ address.country }}
        </div>
        <br>
    {% endif %}

    {% if cars != None %}
        {% for i in cars %}
            <div class="border-top pt-3"></div>

            <div>
                <font size="5" color="#17a2b8"> {{ _ ('Car:') }} </font>
                <a class="btn btn-info" href="{{ url_for('users.edit_vehicle',car_id=i.id) }}"
                   role="button">{{ _('Edit car') }}</a>

                <br> <br>
            </div>
            <div>
            </div>
            {% set car_pic = car_picpaths[loop.index0] %}
            <img src="{{ url_for('static', filename=car_pic) }}" class="float-left mr-2" width="127px"
                 alt="car pic" style="border-radius: 50%"><br>
            <div>
                <b>{{ _('Brand') }}</b>
                <br>
                {{ i.brand }}
            </div>
            <br>
            <div>
                <b>{{ _('Type') }}</b>
                <br>
                {{ i.model }}
            </div>
            <br>
            <div>
                <b>{{ _('Color') }}</b>
                <br>
                {{ i.color }}
            </div>
            <br>
            <div>
                <b>{{ _('License plate') }}</b>
                <br>
                {{ i.number_plate }}
            </div>
            <br>
            <div>
                <b>{{ _('nr. seats') }}</b>
                <br>
                {{ i.nr_seats }}
            </div>
            <br>
            <div>
                <b>{{ _('Year') }}</b>
                <br>
                {{ i.construction_year }}
            </div>
            <br>
            <div>
                <b>{{ _('Fuel usage') }}</b>
                <br>
                {{ i.fuel_consumption }}
            </div>
            <br>
            <div>
                <b>{{ _('Fuel type') }}</b>
                <br>
                {{ i.fuel }}
            </div>
            <br>

        {% endfor %}
    {% endif %}


    <a class="btn btn-info" href="{{ url_for('users.add_vehicle') }}" role="button">{{ _('Add car') }}</a>
    <br>

{% endblock profileContent %}
