<!-- https://stackoverflow.com/questions/51756351/how-to-get-user-selected-value-from-selectfield-in-python-flask-wtf  -->
<!-- https://www.youtube.com/watch?v=I2dJuNwlIH0  -->
{% extends "roundborder.html" %}
{% block contentTitle %}
    {{ _('Add vehicle') }}
{% endblock contentTitle %}
{% block contentContent %}
    <!-- form method="POST" action=""-->
        {{ form.hidden_tag() }}
        <!-- display the form -->
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.brand.label(class="form-control-label") }}
                {% if form.brand.errors %}
                    {{ form.brand(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.brand.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.brand(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.color.label(class="form-control-label") }}
                {% if form.color.errors %}
                    {{ form.color(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.color.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.color(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.plateNumber.label(class="form-control-label") }}
                {% if form.plateNumber.errors %}
                    {{ form.plateNumber(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.plateNumber.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.plateNumber(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.seats.label(class="form-control-label") }}
                {% if form.seats.errors %}
                    {{ form.seats(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.seats.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.seats(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.manufacturingDate.label(class="form-control-label") }}
                {% if form.manufacturingDate.errors %}
                    {{ form.manufacturingDate(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.manufacturingDate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.manufacturingDate(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.mileage.label(class="form-control-label") }}
                {% if form.mileage.errors %}
                    {{ form.mileage(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.mileage.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.mileage(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ _('Fuel type') }}:
                {{ form.fuelType}}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
{% endblock contentContent %}