<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reviews.css') }}">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="">

    <!-- Leaflet Routing Machine -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">

    <!-- Geocoder leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.70/dist/L.Control.Locate.min.css"/>

    {% if title %}
        <title>Campus Carpool - {{ title }}</title>
    {% else %}
        <title>Campus Carpool</title>
    {% endif %}
</head>
<body>
<!-- content wrapper (used to keep footer at the bottom of the screen) -->
<div id="wrap">
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow fixed-top">
        <!-- logo and name -->
        <a class="navbar-brand d-flex align-items-center" href={{ url_for('main.home') }}>
            <img src="{{ url_for('static', filename="images/logo.png") }}" class="float-left mr-2" width="32px"
                 alt="logo">
            <span class="d-none d-sm-block">Campus carpool</span>
        </a>
        <!-- end of logo and name -->
        <!-- menu -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href={{ url_for('main.home') }}>Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('rides.findride') }}>{{ _('Find a ride') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('rides.createride') }}>{{ _('Create a ride') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('users.myrides') }}>{{ _('My rides') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('users.joinedrides') }}>{{ _('Joined rides') }}</a>
                    </li>
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href={{ url_for('reviews.reviews') }}>My reviews</a>#}
                    {#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('users.logout') }}>{{ _('Log out')}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('users.account') }}>{{ _('Account') }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href={{ url_for('main.home') }}>{{ _('Home') }}</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('rides.findride') }}>{{ _('Find a ride') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('users.login') }}>{{ _('Log in') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ url_for('users.register') }}>{{ _('Sign up') }}</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{ _('Language') }}</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownMenuButton">

                        <a class="dropdown-item"
                           href="{{ url_for(request.endpoint, lang_code='nl', userid=userid, car_id=car_id, rideid=rideid) }}">NL</a>
                        <a class="dropdown-item"
                           href="{{ url_for(request.endpoint, lang_code='fr', userid=userid, car_id=car_id, rideid=rideid) }}">FR</a>
                        <a class="dropdown-item"
                           href="{{ url_for(request.endpoint, lang_code='en', userid=userid, car_id=car_id, rideid=rideid) }}">EN</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end of menu -->
    </nav>
    <!-- end of navbar -->

    <!-- content -->
    <main id="main" role="main">
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="row fixed-bottom justify-content-center">
                    {% for category, message in messages %}
                        <div id="message" class="col-8 alert alert-{{ category }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </main>
    <!-- end of content -->
</div>

<!-- footer -->
<footer class="footer bg-dark">
    <div class="container">
        <div class="row py-3">
            <div class="col-sm-4 footer-link text-center mb-3">
                <a class="btn text-uppercase text-light" href="{{ url_for('main.about') }}">{{ _('About us') }}</a>
            </div>
            <div class="col-sm-4 footer-link text-center mb-3">
                <a class="btn text-uppercase text-light" href="{{ url_for('main.faq') }}">FAQ</a>
            </div>
            <div class="col-sm-4 footer-link text-center mb-3">
                <a class="btn text-uppercase text-light" href="{{ url_for('main.contact') }}">Contact</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        &copy; 2020 Team3
    </div>
</footer>
<!-- end of footer -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/60565be3bc.js" crossorigin="anonymous"></script>

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

<!-- Leaflet Routing Machine -->
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<!-- Nominatim Geocoder -->
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<!-- Custom JavaScript file -->
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename="reviews.js") }}"></script>

<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.70.0/dist/L.Control.Locate.min.js"
        charset="utf-8"></script>
</body>
</html>
