{% extends "roundborder.html" %}
{% block contentTitle %}
    Contact
{% endblock contentTitle %}
{% block contentContent %}

    <p>
    {{_('If there are any problems with the site, please contact')}} <A HREF="mailto:robbe.lauwers@student.uantwerpen.be">Robbe Lauwers</A>,
    <A HREF="mailto:eva.note@student.uantwerpen.be">Eva Note</A>,
    <A HREF="mailto:arno.troch@student.uantwerpen.be">Arno Troch</A>,
    <A HREF="mailto:rjana.osstyn@student.uantwerpen.be">Jana Osstyn</A> {{ _('or') }}
    <A HREF="mailto:john.castillojandayans@student.uantwerpen.be">John Castillo Jandayan</A> (Team3)
    </p>

{% endblock contentContent %}