{% extends "roundborder.html" %}
{% block contentTitle %}
    {{ _('FAQ') }}
{% endblock contentTitle %}
{% block contentContent %}
      <div>
      {{ _('    <b>Will Campus Carpool be available in other languages?</b>
        <br>
    Campus Carpool is also available in Dutch and French. No other languages will be supported.') }}
    </div>
          <div>
      {{ _('    <b>How do I write a review?</b>
        <br>
    Go to another user\'s profile by clicking their profile picture in your "My rides" or "Joined rides" overview. Then click "write review".') }}
    </div>
              <div>
      {{ _('    <b>How do I select points on the map?</b>
        <br>
    If the map feels unresponsive, try zooming in first.') }}
    </div>
{% endblock contentContent %}