{% extends "base.html" %}
{% block content %}
    <div class="text-center pt-5">
        <h1 class="text-info font-weight-normal">{{ title }}</h1>
    </div>
    <div class="content-section border-info p-4 mx-5 mb-5"> <!-- container with rounded border -->
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        <!-- display the form -->
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.fromField.label(class="form-control-label") }}
                {% if form.fromField.errors %}
                    {{ form.fromField(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.fromField.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.fromField(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.toField.label(class="form-control-label") }}
                {% if form.toField.errors %}
                    {{ form.toField(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.toField.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.toField(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <hr class="bg-info my-4 w-100">
        <img src="{{ url_for('static', filename="images/map.png") }}" class="img-fluid" alt="Map for searched ride">
    </form>
    </div>
{% endblock content %}