{% extends "base.html" %}
{% block content %}
    <!-- landing page -->
    <div class="landing-page masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12 text-center text-dark">
                    <h1 class="display-3">Be cool. Carpool.</h1>
                    <p class="lead">{{ _('Make it easy for yourself to get to college or university.') }}</p>
                    <a class="btn btn-info mt-3" href={{ url_for('rides.findride') }}>{{ _('Find A Ride') }}</a>
                </div>
                <div class="col-12 text-center text-light">
                    <i class="fas fa-angle-down fa-3x text-light"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- end of landing page -->

    <!-- content section -->
    <section>
        <!-- first info section -->
        <div class="row m-0 mb-5 justify-content-md-end bg-light">
            <div class="col-md-1 bg-info"></div>
            <div class="col-md-11 p-5">
                <h2 class="home-title">{{ _('How does it work?') }}</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur debitis dolorum ducimus eos
                    exercitationem ipsum laudantium nostrum provident quo tenetur. Adipisci aspernatur esse hic in
                    magnam necessitatibus numquam, placeat ratione veritatis. Accusamus aliquid assumenda commodi
                    consectetur debitis deleniti dolorem, ducimus eius facilis fugiat in incidunt iusto maxime minima
                    non odio officia pariatur possimus quasi quos repellendus rerum tenetur totam veritatis!
                </p>
            </div>
        </div>
        <!-- end of first info section -->
        <hr class="home-divider bg-info">
        <!-- user review section -->
        <div class="row m-0 justify-content-center">
            <div class="col-8">
                <h2 class="home-title font-weight-light text-center mb-5">{{ _('What our users say about us') }}</h2>
            </div>
            <div class="col-sm-8 col-md-5 text-center pb-5">
                <img src="{{ url_for("static", filename="images/temp_profile_pic.png") }}"
                     alt="User review 1" class="img-fluid review-pic">
                <blockquote class="blockquote">
                    <p class="mb-0 font-weight-light">
                        {{ _('The review system really makes sure I only have very stipt drivers. Very nice community.') }}
                    </p>
                    <footer class="blockquote-footer font-weight-light">John Castle</footer>
                </blockquote>
            </div>
            <div class="col-sm-8 col-md-5 text-center pb-5">
                <img src="{{ url_for("static", filename="images/temp_profile_pic.png") }}"
                     alt="User review 1" class="img-fluid review-pic">
                <blockquote class="blockquote">
                    <p class="mb-0 font-weight-light">
                        {{ _('Simple to use, even on mobile devices') }}
                    </p>
                    <footer class="blockquote-footer font-weight-light">Arno Troch</footer>
                </blockquote>
            </div>
            <div class="col-sm-8 col-md-5 text-center">
                <img src="{{ url_for("static", filename="images/temp_profile_pic.png") }}"
                     alt="User review 1" class="img-fluid review-pic">
                <blockquote class="blockquote">
                    <p class="mb-0 font-weight-light">
                        {{ _('Very easy to find the rides I need thanks to the specific target audience.') }}
                    </p>
                    <footer class="blockquote-footer font-weight-light">Jana Osstyn</footer>
                </blockquote>
            </div>
        </div>
        <!-- end of user review section -->
        <hr class="home-divider bg-info">
        <!-- second info section -->
        <div class="row m-0 mt-5 bg-light">
            <div class="col-md-11 p-5">
                <h2 class="home-title">{{ _('Transport should be the least of your worries.') }}</h2>
                <p class="lead">
                    {{ _('Bus always late? Train never arrives? Too little public transport near you? Campus just out of walking distance? Don\'t want to drive alone? Use Campus Carpool!') }}
                </p>
            </div>
            <div class="col-md-1 bg-info"></div>
        </div>
        <!-- end of second info section -->
        <!-- signup section -->
        <div class="row m-0 my-5 py-5 justify-content-center text-center">
            <div class="col-7">
                <h3 class="">{{ _('Interested? Sign up now!') }}<br></h3>
            </div>
            <div class="col-7">
                <a class="btn btn-lg btn-outline-info mt-3" href={{ url_for('users.register') }}>{{ _('Sign up') }}</a>
            </div>
        </div>
        <!-- end of signup section -->
    </section>
    <!-- end of content section -->
{% endblock content %}