

    <div class="row">
        {% for ride in userrides_j %}
            {% set address_from = from_locs_j[loop.index0] %}
            {% set address_to = to_locs_j[loop.index0] %}
            {% set pfplist = pfps_j[loop.index0] %}
            {% set pickuppoint = pickuppoints_j[loop.index0] %}
            {% set pickuptime = pickuppointtimes_j[loop.index0] %}
            {% set pickupbool = pickupbools_j[loop.index0] %}
            {% set passids = allids_j[loop.index0] %}
            {% set passengers = passengers_j[loop.index0] %}
            {% set passengernames = passengernames_j[loop.index0] %}
            {% set numpassengers = numpassengers_j[loop.index0] %}


            <div class="ride_history_wrap_3">
                <div class="row">
                    <div class="ride_history_wrap_7" style="font-size: x-large; color: #17a2b8; margin-top: 5px"><b>{{ address_from }} <i class="fa fa-angle-double-right"></i> {{ address_to }}</b></div>
                     <a class="btn btn-info" href="{{ url_for('main.canceljoinedride', ride_id=ride.id) }}" role="button"
                        style="margin-left: 20px; margin-bottom: 5px; margin-top: -35px; border-radius: 5px; float: right; z-index: 100">{{ _('Cancel ride') }}</a>
                <a class="btn btn-info" href="{{ url_for('rides.view_ride', rideid=ride.id) }}" role="button"
                   style="margin-left: 5px; margin-bottom: 5px; margin-top: -35px; border-radius: 5px; float: right; z-index: 100">{{ _('Show on map') }}</a>

                </div>
            <div class="border-top pt-3"></div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <div class="ride_history_wrap_6"><i class="far fa-clock"></i> <b> {{ _('Departure: ') }} </b>{{ ride.departure_time }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="ride_history_wrap_9"><b> {{ _('From: ') }}</b> {{ address_from }}  </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <div class="ride_history_wrap_6"><i class="far fa-clock"></i> <b> {{ _('Arrival: ') }} </b>{{ ride.arrival_time }}</div>
                    </div>
                    <div class="col-md-4">
                        <div class="ride_history_wrap_9"><b> {{ _('To: ') }}</b> {{ address_to }}  </div>
                    </div>
                </div>

                {% if pickupbool[0] %} {#https://jsfiddle.net/ourcodeworld/mo8Lg1hx/#}
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <span class="fa-stack" style="margin-left: -12px">
                            <!-- The icon that will wrap the number -->
                            <span class="fa fa-circle-o fa-stack-1x"></span>
                            <!-- a strong element with the custom content, in this case a number -->
                            <strong class="fa-stack-1x" style="font-size: 60%">
                                1
                            </strong>
                        </span>
                        <b style="margin-left: -12px">{{ _('Pickup 1: ') }} </b>{{ pickuptime[0] }}
                        </div>
                        <div class="col-md-4" style="margin-top: -8px">
                            <div class="ride_history_wrap_9"><b> {{ _('Address: ') }}</b> {{ pickuppoint[0] }}  </div>
                        </div>
                    </div>
                {% endif %}
                {% if pickupbool[1] %}
                    <div class="row" style="margin-top: -8px">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <span class="fa-stack" style="margin-left: -12px">
                            <!-- The icon that will wrap the number -->
                            <span class="fa fa-circle-o fa-stack-1x"></span>
                            <!-- a strong element with the custom content, in this case a number -->
                            <strong class="fa-stack-1x" style="font-size: 60%">
                                2
                            </strong>
                        </span>
                        <b style="margin-left: -12px">{{ _('Pickup 2: ') }} </b>{{ pickuptime[1] }}
                        </div>
                        <div class="col-md-4" style="margin-top: -8px">
                            <div class="ride_history_wrap_9"><b> {{ _('Address: ') }}</b> {{ pickuppoint[1] }}  </div>
                        </div>
                    </div>
                {% endif %}
                {% if pickupbool[2] %}
                    <div class="row" style="margin-top: -8px">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <span class="fa-stack" style="margin-left: -12px">
                            <!-- The icon that will wrap the number -->
                            <span class="fa fa-circle-o fa-stack-1x"></span>
                            <!-- a strong element with the custom content, in this case a number -->
                            <strong class="fa-stack-1x" style="font-size: 60%">
                                3
                            </strong>
                        </span>
                        <b style="margin-left: -12px">{{ _('Pickup 3: ') }} </b>{{ pickuptime[2] }}
                        </div>
                        <div class="col-md-4" style="margin-top: -8px">
                            <div class="ride_history_wrap_9"><b> {{ _('Address: ') }}</b> {{ pickuppoint[2] }}  </div>
                        </div>
                    </div>
                    <br>
                {% endif %}

            <div class="border-top pt-3" style="margin-top: 20px"></div>
                <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <b>Driver:</b>
                        </div>
                    </div>
                <div class="row">


                    <div class="col-md-3"></div>
                    <div class="col-md-4">
                        <a style="color: #17a2b8" href={{ url_for('users.user', userid=ride.user_id) }}>
                        <img src="{{ url_for('static', filename=pfplist[0]) }}" class="float-left mr-2" width="70px"
                             alt="driver pic" style="border-radius: 50%; margin-bottom: 10px"><br>
                        {{ passengernames[0] }}

                    </a>
                        <i style="color: gray">(click to see profile)</i>
                    </div>

                </div>

                {% if numpassengers > 1 %}
                    <div class="border-top pt-3"></div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <b>Passengers:</b>
                        </div>
                    </div>

                {% for p in range(1, numpassengers) %}
                    {% set linkid = passids[loop.index0] %}
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <a style="color: #17a2b8" href={{ url_for('users.user', userid=linkid) }}>
                            <img src="{{ url_for('static', filename=pfplist[p]) }}" class="float-left mr-2" width="70px"
                                 alt="driver pic" style="border-radius: 50%; margin-bottom: 10px"><br>
                            {{ passengernames[p] }}
                        </a>
                        </div>

                    </div>
                {% endfor %}

                {% else %}
                    <div class="row" style="height: 25px">

                    </div>
                {% endif %}
{#            /view_ride=<rideid>#}
            </div>
        {% endfor %}

    </div>


{#<a href={{ url_for('users.user', userid=ride.user_id) }}>#}
{#                            <img src="{{ url_for('static', filename=pfplist) }}" class="float-left mr-2" width="127px"#}
{#                    alt="driver pic" style="border-radius: 50%"><br>#}
{#            </a>#}
{#            <a class="btn btn-info" href="{{ url_for('users.user', userid=ride.user_id) }}" role="button">{{ _('See driver profile') }}</a>#}
{#        <a class="btn btn-info" href="{{ url_for('main.canceljoinedride', ride_id=ride.id) }}" role="button">{{ _('Cancel ride') }}</a>#}



{#    {% for ride in userrides_j %}#}
{#        {% set address_from = from_locs_j[loop.index0] %}#}
{#        {% set address_to = to_locs_j[loop.index0] %}#}
{#        {% set pfplist = pfps_j[loop.index0] %}#}
{#        {% set pickuppoint = pickuppoints_j[loop.index0] %}#}
{#        {% set pickupbool = pickupbools_j[loop.index0] %}#}
{##}
{#    <div class="row">#}
{#        <div class="ride_history_wrap_3">#}
{#            <div class="ride_history_wrap_6"><b> {{ _('Departure: ') }} </b>{{ ride.departure_time }}</div>#}
{#        <br>#}
{#            <div class="ride_history_wrap_6"><b> {{ _('Arrival: ') }} </b>{{ ride.arrival_time }}</div>#}
{#        <br>#}
{#            {% if pickupbool[0] %}#}
{#                <div class="ride_history_wrap_5"><b> {{ _('Pickup 1: ') }} </b>{{ pickuppoint[0] }}</div>#}
{#                <br>#}
{#            {% endif %}#}
{#            {% if pickupbool[1] %}#}
{#                <div class="ride_history_wrap_5"><b> {{ _('Pickup 2: ') }} </b>{{ pickuppoint[1] }}</div>#}
{#                <br>#}
{#            {% endif %}#}
{#            {% if pickupbool[2] %}#}
{#                <div class="ride_history_wrap_5"><b> {{ _('Pickup 3: ') }}</b> {{ pickuppoint[2] }}</div>#}
{#                <br>#}
{#            {% endif %}#}
{#            <div class="ride_history_wrap_7"><b> {{ _('From: ') }}</b> {{ address_from }}  </div>#}
{#                <br>#}
{#            <div class="ride_history_wrap_7"><b> {{ _('To: ') }} </b>{{ address_to }}</div>#}
{#        <br>#}
{##}
{#            <a href={{ url_for('users.user', userid=ride.user_id) }}>#}
{#                            <img src="{{ url_for('static', filename=pfplist) }}" class="float-left mr-2" width="127px"#}
{#                    alt="driver pic" style="border-radius: 50%"><br>#}
{#            </a>#}
{#            <a class="btn btn-info" href="{{ url_for('users.user', userid=ride.user_id) }}" role="button">{{ _('See driver profile') }}</a>#}
{#        <a class="btn btn-info" href="{{ url_for('main.canceljoinedride', ride_id=ride.id) }}" role="button">{{ _('Cancel ride') }}</a>#}
{##}
{##}
{#        </div>#}
{#    </div>#}

{#    {% endfor %}#}
