{% extends "roundborder.html" %}
{% block contentTitle %}
    New review for <b>{{ user_for.first_name }} {{ user_for.last_name }}</b>
{% endblock contentTitle %}
<!-- Add icon library -->

{% block contentContent %}
    <script type="text/javascript">
        function changeRate(num) {
            document.createTextNode(num);
            if (document.getElementById("amount_of_stars").hasChildNodes()) {
                document.getElementById("amount_of_stars").removeChild(document.getElementById("amount_of_stars").childNodes[0]);
            }
            document.getElementById("amount_of_stars").appendChild(document.createTextNode(num));
            $("#amount_of_stars").attr('value', num);
            for (var i = 1; i <= num; i++) {
                $('#star' + i).removeClass('not-checked');
                $('#star' + i).addClass('checked')
            }
            for (i = num + 1; i < 6; i++) {
                $('#star' + i).removeClass('checked');
                $('#star' + i).addClass('not-checked')
            }
        }
    </script>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-3">
                <fieldset class="form-group margin-b">
                    {# source https://codepen.io/hesguru/pen/BaybqXv #}
                    <div class="rate">
                        <i class="fa fa-star not-checked star-input" id="star5" style="float: right"
                           onclick="changeRate(5)"></i>
                        <i class="fa fa-star not-checked star-input" id="star4" style="float: right"
                           onclick="changeRate(4)"></i>
                        <i class="fa fa-star not-checked star-input" id="star3" style="float: right"
                           onclick="changeRate(3)"></i>
                        <i class="fa fa-star not-checked star-input" id="star2" style="float: right"
                           onclick="changeRate(2)"></i>
                        <i class="fa fa-star not-checked star-input" id="star1" style="float: right"
                           onclick="changeRate(1)"></i>
                    </div>
                    <div class="form-group">
                        {% if form.amount_of_stars.errors %}
                            {{ form.amount_of_stars(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.amount_of_stars.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.amount_of_stars(class="form-control form-control-lg", value="1", style="width: 10px; visibility: hidden") }}
                        {% endif %}
                        {% if form.role.errors %}
                            {{ form.role(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                <span>{{ _('Please specify your role!') }}</span>
                                {% for error in form.role.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.role(class="form-control form-control-lg", value="1", style="width: 10px; visibility: hidden") }}
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div>
                        <img class="display-profile-pic-review" src="../../static/images/temp_profile_pic.png"
                             alt="HTML5 Icon">
                        <b class="display-name">{{ user_for.first_name }} {{ user_for.last_name }}</b>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-9">
                <fieldset class="form-group title-input margin-b">
                    <div class="form-group">
                        <b style="color: dimgray">{{ _('Your role...') }}</b>
                        <input type="checkbox" id="iWasDriverCheckbox">
                        <label style="color: dimgray" for="iWasDriverCheckbox" title="text">{{ _('driver') }}</label>
                        <input type="checkbox" id="iWasPassengerCheckbox">
                        <label style="color: dimgray" for="iWasPassengerCheckbox"
                               title="text">{{ _('passenger') }}</label>

                        {% if form.title.errors %}
                            {{ form.title(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="form-control form-control-lg", placeholder="Pick a title") }}
                        {% endif %}
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- display the form -->
                <fieldset class="form-group review-input margin-b">
                    <div class="form-group">
                        {{ form.text.label(class="form-control-label") }}
                        {% if form.text.errors %}
                            {{ form.text(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.text.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if form.text.errors %}
                                {{ form.text(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.text.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.text(class="form-control form-control-lg", placeholder="Share your experience...", rows=6) }}
                            {% endif %}
                        {% endif %}
                    </div>

                </fieldset>
            </div>

        </div>
        <div class="row">
            <div class="form-group submit-btn">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </div>

    </form>
{% endblock contentContent %}
