{% extends "roundborder.html" %}
{% block contentTitle %}
    New review for <b>Jos Vermeulen</b>
{% endblock contentTitle %}
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% block contentContent %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row" style="margin-left: 20px">
            <div class="col-md-auto">
                <fieldset class="form-group">
                    {#
                https://codepen.io/hesguru/pen/BaybqXv
    #}
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5"/>
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4"/>
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3"/>
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2"/>
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1"/>
                        <label for="star1" title="text">1 star</label>
                    </div>
                </fieldset>
                <fieldset class="form-group">

                    <div style="margin-bottom:20px"></div>
                    <div>
                        <img src="../static/temp_profile_pic.png" alt="HTML5 Icon"
                             style="width:100px;height:100px;border-radius:50%;margin-right:10px">
                        <b>Jos Vermeulen</b>
                    </div>
                </fieldset>
            </div>
            <div class="col">
                <fieldset class="form-group" style="margin-top:110px">
                    <div class="form-control form-control-lg">
                        Title: summarise your experience in one sentence.
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row" style="margin-left: 7px">
            <div class="col">
                <!-- display the form -->
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.msg.label(class="form-control-label") }}
                        {% if form.msg.errors %}
                            {{ form.msg(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.msg.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <textarea class="form-control" rows="7" id="comment">Write a review</textarea>
                        {% endif %}
                    </div>

                </fieldset>
            </div>

        </div>
        <div class="row" style="margin-left: 20px">
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </div>

    </form>
{% endblock contentContent %}