{% extends "roundborder.html" %}
{% block contentTitle %}Ride Information

{% endblock contentTitle %}

{% block contentContent %}

    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename="images/maps.jpg") }}"class="img-fluid" alt="mapExample">
    </div>

    <div class="row">
        <div class="col-md-3">
            <div>
                <i class="far fa-calendar-alt ">&nbsp;Date</i>
            </div>
            <div>
                <i class="far fa-clock">&nbsp;Departure</i>
            </div>
            <div>
                <i class="fas fa-clock">&nbsp;Arrival</i>
            </div>
            <div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <i class="fas fa-map-marker">&nbsp;From</i>
            </div>
            <div>
                <i class="fas fa-map-pin">&nbsp;</i>
            </div>
            <div>
                <i class="fas fa-flag-checkered">&nbsp;Destination</i>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <i class="fas fa-user-tie">&nbsp; Driver</i>
            </div>
            <div>
                <i class="fas fa-user">&nbsp; Passenger</i>
            </div>
            <div>
                <i class="fas fa-user">&nbsp; Passenger</i>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div>
{% endblock contentContent %}