{% extends "roundborder.html" %}
{% block contentTitle %}{{ _('Ride Information') }}

{% endblock contentTitle %}

{% block contentContent %}

    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename="images/maps.jpg") }}"class="img-fluid" alt="mapExample">
    </div>

    <div class="row">
        <div class="col-md-3">
            <div>
                <i class="far fa-calendar-alt ">&nbsp;{{ _('Date') }}Date</i>
            </div>
            <div>
                <i class="far fa-clock">&nbsp;{{ _('Departure') }}</i>
            </div>
            <div>
                <i class="fas fa-clock">&nbsp;{{ _('Arrival') }}</i>
            </div>
            <div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <i class="fas fa-map-marker">&nbsp;{{ _('From') }}</i>
            </div>
            <div>
                <i class="fas fa-map-pin">&nbsp;</i>
            </div>
            <div>
                <i class="fas fa-flag-checkered">&nbsp;{{ _('Destination') }}</i>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <i class="fas fa-user-tie">&nbsp; {{ _('Driver') }}</i>
            </div>
            <div>
                <i class="fas fa-user">&nbsp; {{_('Passenger')}}</i>
            </div>
            <div>
                <i class="fas fa-user">&nbsp; {{_('Passenger')}}</i>
            </div>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-danger">{{ _('Cancel') }}</button>
        </div>
    </div>
{% endblock contentContent %}