{% extends "reviews.html" %}
{% block contentTitle %}
    {{ _('User profile') }}: Robbe Lauwers
{% endblock contentTitle %}
{% block profileContent %}
    <img src="{{ url_for('static', filename="images/temp_profile_pic.png") }}" class="float-left mr-2" width="127px"
         alt="profile pic" style="border-radius: 50%"><br>
    {#        <a class="btn btn-info" href="{{ url_for('reviews.exampleuser_reviews') }}" role="button"> Reviews </a>#}
        <!-- TODO link -->
        <a class="btn btn-info" href="{{ url_for('users.myrides') }}" role="button">{{_('Contact')}}</a>
    <div>
        <br>
    <b>{{ _('First Name') }}</b>
        <br>
    Robbe
    </div>
    <br>
    <div>
    <b>{{ _('Last name') }}</b>
        <br>
    Lauwers
    </div>
    <br>
        <div>
    <b>{{ _('Gender') }}</b>
        <br>
    M
    </div>
    <br>

    <div class="border-top pt-3"></div>

                <div>
    <b>{{ _('Brand') }}</b>
        <br>
    Toyota
    </div>
        <br>
                <div>
    <b>{{ _('Type') }}</b>
        <br>
    Yaris
    </div>
        <br>
                <div>
    <b>{{ _('Color') }}</b>
        <br>
    Red
    </div>
        <br>
                <div>
    <b>{{ _('nr. seats') }}</b>
        <br>
    4
    </div>
        <br>
                <div>
    <b>{{ _('Year') }}</b>
        <br>
    2015
    </div>
        <br>
                <div>
    <b>{{ _('Fuel usage') }}</b>
        <br>
    7,8l/100km
    </div>
        <br>            <div>
    <b>{{ _('Fuel type') }}</b>
        <br>
    Gasoline
    </div>
<br>
{% endblock profileContent %}