<html>
<head>
	<title>{{app_data['app_name']}}</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='mystyle.css') }}">
    
	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
</head>
<body>	
	{% include 'header.html' %}
    
    <!-- 
        Bootstrap has a grid system for aligning elements in a responsive layout.

        The outer element is a container, which contains rows and columns.
        Each row can should contain up to 12 columns. However, excess columns
        will simply be stacked.

        When adding multiple columns to a row, the framework automatically assigns
        equal width to all columns. For variable with columns, one can use for
        instance col-1, col-sm-2, col-md-4 or col-xl-8.

        More information can be found using the following URL:
            https://getbootstrap.com/docs/4.0/layout/grid/
    -->
    
    <div class="container-fluid">
        <div class="row">
            <div class="borderme col-md-8">
                <div class="row">
                    <div class="col">
                        <div class="smalltitle">Test REST api:</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        GET <a class="larger" href="/quotes">/quotes</a><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        GET <a class="larger" href="/quotes/1">/quotes/1</a> <br/>
                    </div>
                </div>
                <form action="/quotes" method="post">
                    <div class="row">
                        <div class="col-xl">
                            POST <a class="reststyle"> /quotes?text=X&author=Y</a> 
                        </div>
                        <div class="col-xl">
                            <div class="row">
                                <div class="col-md-4">
                                    Text:
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="text"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    Author:
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="author"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type = "submit"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="borderme col-md-4">
                <div class="smalltitle">User interface:</div>
                <a class="larger" href="/show_quotes">show quotes (classic)</a><br/>
                <a class="larger" href="/show_quotes_ajax">show quotes (ajax)</a>
            </div>
        </div>
    </div>
    
    {% include 'footer.html' %}   
</body>
</html>