<html>
<head>
	<title>{{app_data['app_name']}}</title>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='mystyle.css') }}">
    
	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
    
	<script>
        function load_quotes(f){
            $.ajax({url: "/quotes", type: "GET", dataType: "json"}).done(f);
        }

        function save_quote(text,author,f){
            $.ajax({url: "/quotes", type: "POST", data: {'text': text, 'author': author}});
        }

        function render_quotes(data){
            $("#quotes").empty();
            for(var i=0;i<data.length;i++){
                $("#quotes").append(
                        '<div style="padding: 10px"><span style="font-style: italic;">\"' 
                          + data[i]['text'] 
                          + '\"</span> -- ' 
                          + data[i]['author'] 
                          + '</div>');
            }
        }

        $(document).ready(function() {	
             load_quotes(render_quotes);
             $("#addQuoteForm").on("submit", function(event){
                event.preventDefault();
                var text = $("#text").val();
                var author = $("#author").val();
                save_quote(text,author);
                load_quotes(render_quotes);
             });
        });
	</script>
</head>
<body>	
	{% include 'header.html' %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/">show main</a>
            </div>
        </div>
        <div class="row">
            <div class="borderme col-md-8">
                <div class="smalltitle row">
                    <div class="col">Quotes (A:</div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="quotes"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="smalltitle row">
                    <div class="col">Add quote:</div>
                </div>
                <div class="row">
                    <div class="col">
                        <form id="addQuoteForm" action="/" method="post">
                                Text: <input type ="text" name="text" id="text"/><br/>
                            Author: <input type ="text" name="author" id="author"/><br/>
                            <input type ="submit" value="save"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'footer.html' %}   
</body>
</html>
