body {
    background: #ffffff;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.border-thick {
    border-width: 10px !important;
}

.content-section {
    border: 3px solid;
    border-radius: 60px;
}
