
html, body {
    height: 100vh;
}

body {
    background: #ffffff;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.border-thick {
    border-width: 10px !important;
}

.content-section {
    border: 3px solid;
    border-radius: 60px;
}

.nav-item {
    padding: 0 0.5rem;
}

#wrap {
    min-height: 100%;
}

#main {
    padding-top: 58px;
    padding-bottom: 130px; /*this needs to be bigger than footer height*/
}

.landing-page {
    overflow: auto;
    height: 100vh;
    margin-top: -58px; /* negative value of padding-top in main */

}

#message {
    max-width: 500px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1em 0;
    padding: 0;
    width: 60px;
}

.footer {
    position: relative;
    margin-top: -130px; /* negative value of footer height */
    clear: both;
    padding-top: 20px;
}

.footer-copyright {
    color: #d0d0d0;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background: url('https://source.unsplash.com/qd-zd2MoeE8/') no-repeat center center fixed;
    background-size: cover;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.spacer {
    background-color: tomato;
    margin-left: 10px;
}
/*
.search-box{
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    background: white;
}
.search-box:hover > .search-btn{
    width: 240px;
    padding: 0 6px;
}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

 */

.ride_history_wrap_3{
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  border: 2px solid #17a2b8;
  width: 100%;
  position: relative;
  display: inline-block;
  height: auto;
  margin-bottom: 10px;
}
.ride_history_wrap_1{
    border-radius: 15px;
  /*background: #17a2b8;*/
  font-size:100%;
  width:20%;
  position: relative;
  display: inline-block;
  height: auto;
  text-align: center;
 }
.ride_history_wrap_5{
    background: #e4e7e8;
    font-size: 100%;
    width: 25%;
    position: relative;
    left: 10px;
    top: 10px;
    display: inline-block;
    height: auto;
    text-align: center;
}

.ride_history_wrap_6 {
    /*background: #40b1c4;*/
  font-size:100%;
  position: relative;
    left: 0;
    top: 10px;
  display: inline-block;
  height: auto;
  /*text-align: center;*/
 }
.ride_history_wrap_9 {
    /*background: #40b1c4;*/
  font-size:100%;
  position: relative;
    left: 0;
    top: 10px;
  display: inline-block;
  height: auto;
  /*text-align: center;*/
 }
.ride_history_wrap_4{
    /*background: #40b1c4;*/
  font-size:100%;
  width:70%;
  position: relative;
    left: 490px;
  display: inline-block;
  height: auto;
  text-align: center;
    border-radius: 10px;
 }
.ride_history_wrap_2{
  font-size:100%;
  width:50%;
  position: relative;
  display: inline-block;
  height: auto;
  text-align: center;
  border-color: #17a2b8;

 }

.ride_history_wrap_7 {
    /*background: #40b1c4;*/
    font-size: 100%;
    /*width: 70%;*/
    width: 100%;
    position: relative;
    /*left: 18%;*/
    display: inline-block;
    height: auto;
    text-align: center;
    /*text-align: center;*/
}

.ride_history_wrap_8 {
    /*background: #17a2b8;*/
    font-size: 100%;
    width: 20%;
    position: relative;
    display: inline-block;
    height: auto;
    text-align: center;
}

.map {
    border: 3px solid #17a2b8;
}

@media (min-width: 40em) {
    .home-title {
        font-size: 50px;
    }
}

.home-divider {
    width: 87%;
    height: 3px;
    margin: 1rem auto;
}


.review-pic{
    border-radius: 100%;
    width: 100px;
}

#findride_map {
    height: 80vh;
}


#asd{
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
}
#asd:hover {
  background: lightsalmon;
}

.button[disabled] {
    pointer-events: none;
}

#findride_map {
    border-radius: 55px;
}

.leaflet-left .leaflet-control {
    margin-left: 20px !important;
}

.leaflet-top .leaflet-control {
    margin-top: 20px !important;
}

.leaflet-right .leaflet-control {
    margin-right: 20px !important;
}

.result + #findride_map {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.leaflet-touch .leaflet-control-attribution {
    margin-right: 32px !important;
}

/* ride_history_wrap_7 */

/* Size specific properties */
@media only screen and (max-width: 768px) {
    .ride_history_wrap_7 {
        font-size: medium !important;
    }
    .myrides-btn {
        font-size: x-small;
    }
    .mobile-hidden {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .ride_history_wrap_7 {
        font-size: x-large !important;
    }
    .fullscreen-hidden {
        display: none;
    }
}